[submodule "U-DiT"]
	path = U-DiT
	url = https://github.com/YecanLee/U-DiT
[submodule "mar"]
	path = mar
	url = https://github.com/YecanLee/mar
[submodule "latent-diffusion"]
	path = latent-diffusion
	url = https://github.com/YecanLee/latent-diffusion
[submodule "stylegan-xl"]
	path = stylegan-xl
	url = https://github.com/YecanLee/stylegan-xl
[submodule "VAR"]
	path = VAR
	url = https://github.com/YecanLee/VAR
[submodule "MDT"]
	path = MDT
	url = https://github.com/YecanLee/MDT_research
